@model t.Models.Personas
@{
    ViewData["Title"] = "Editar Persona";
}

<div class="row"> 
    <div class="col-md-3">
        <h2>Editar Persona</h2>
        <p>
            <form method="POST"> 
                <label asp-for="Nombre"></label>
                <br/>
                <input type="hidden" asp-for="IdPersona">
                <input type="text" asp-for="Nombre">
                <span asp-validation-for="Nombre"></span>
                <br/>
                <label asp-for="Telefono"></label>  
                <br/>
                <input type="tel" asp-for="Telefono"> 
                <span asp-validation-for="Telefono"></span>
                
                <div>
                    <input type="submit" value="Actualizar" class="btn btn-primary"/>
                </div>            
            </form>
        </p>
    </div>
    
      
</div>
